{
    "namespace": "ecommercecheckin.sabre.com",
    "type": "record",
    "name": "businessRecord",
    "fields": [{% for element in elements %}
      {
        "name": "{{element}}",
        "type": [
          "null",
          "string"
        ],
        "default": null
      }{% if loop.last != True %},{% endif %}{% endfor %}
    ]
}