{
    "namespace": "ecommercecheckin.sabre.com",
    "type": "record",
    "name": "ecommercecheckin",
    "fields": [
      {
        "name": "bookingTransaction__reservation__bookingDate",
        "type": [
          "null",
          "string"
        ],
        "default": null
      },
      {
        "name": "httpAnalytics__pageCode",
        "type": [
          "null",
          "string"
        ],
        "default": null
      }
    ]
}